<!--use this wrapper to keep everything within component!-->

<div class='component-board component'>
  <div id="board-wrapper">
    <canvas id="board-backdrop"></canvas>
    <canvas id="board1"></canvas>
    <div id="playhead"></div>
  </div>

</div>
