// use this wrapper to preserve scope!
.component-board-interactive {
  #board-interactive {
    z-index: 1;
    background-color: $color-primary;
    border: 1em $color-accent solid;
  }
  #testButton {
    color: $color-accent;
  }
  #board-wrapper{
    position: relative;
    padding: -5px;
  }
  #board-backdrop{
    background-color: none;
    position: absolute;
    top: 0;
    z-index: 0;
    pointer-events: none;
    border: 1em $color-accent solid;
  }
  .frequency-label {
    color: $color-white;
    position: absolute;
    left:  -5em;
    top: 0em;
  }
}
