$border-size: 30px;

// use this wrapper to preserve scope!
.component-board-interactive {
  #board-interactive {
    z-index: 1;
    background-image: url('./../../assets/images/parchment2.jpg');
    box-sizing: border-box;
    border: $border-size $color-accent solid;
  }
  #testButton {
    color: $color-gray-dark;
  }
  #board-wrapper{
    position: relative;
    box-sizing: border-box;
  }
  #board-backdrop{
    background-color: none;
    position: absolute;
    top: 0;
    z-index: 0;
    pointer-events: none;
    box-sizing: border-box;
    border: $border-size $color-accent solid;
  }
  #playhead{
    position: absolute;
    left: $border-size;
    width: 5px;
    background-color: $color-black;
    z-index: 2;
    top: $border-size;
    pointer-events: none;

  }
  .frequency-label {
    color: $color-white;
    position: absolute;
    left:  -5em;
    top: 0em;
  }
}
