<!--use this wrapper to keep everything within component!-->

<div class='component-board-interactive component'>
  <div id="board-wrapper">
    <canvas id="board-backdrop"></canvas>
    <canvas id="board-interactive"></canvas>
    <div id="playhead"></div>
  </div>
  <br><br><br>
  <span class="button" id="testButton">Press</span>

</div>
