// use this wrapper to preserve scope!
#page-home {
  background-image: url('./../../assets/images/view11.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: $color-black 1em solid;
  padding: 2em;
  height: 100%;
  width: 100%;
  position: relative;
  #snow-cover{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(ellipse at center, transparent, #fff 100%);
    z-index: 10;
    pointer-events: none;
    opacity: .2;
  }
  #board-palette-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #palette{
    padding: 20px;
    margin-left: 1em;
    position: relative;
    .label-container {
      color: $color-white;
      position: absolute;
      font-size: 1em;
      left: 5em;
      background-color: $color-black;
      border-radius: 20%;
      padding: 8px;
      font-size: 3em;
      width: auto;
      align-content: center;
      align-items: center;
    }
  }
  #below-board-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 7em;
  }
  #buttons-container{
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
  }
  .color-selector{
    height: 3em;
    width: 3em;
    margin: 1em;
    border-radius: 50%;
    border: $color-black 10px solid;
  }

  .active-color{
    border-color: $color-white;
    .label-container{
      background-color: $color-white !important;
      color: $color-black !important;
    }
  }
}
