// use this wrapper to preserve scope!
#page-home {
  background-color: $color-gray-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: $color-black 1em solid;
  padding: 2em;
  height: 100%;
  width: 100%;
  #play-button {
    color: $color-gray-dark;
  }
}
