<!--use this wrapper to keep everything within page!-->
<div id='page-home' class='page hidden'>

  <div id="board-palette-container">
    {% include "components/board/board-index.njk" %}
    <div id="palette"></div>
  </div>
  <br><br><br>
  <div id="below-board-container">
    <span class="button" id="play-button">Play</span>
    {% include "components/visualizer/visualizer-index.njk" %}
  </div>

</div>
