<!--use this wrapper to keep everything within page!-->
<div id='page-home' class='page hidden'>

  <div id="board-palette-container">
    {% include "components/board/board-index.njk" %}
    <div id="palette"></div>
  </div>
  <br><br><br>
  <div id="below-board-container">
    <div id="buttons-container">
      <span class="button" id="play-button">Play</span>
      <span class="button" id="pause-button">Pause</span>
      <span class="button" id="stop-button">Stop</span>
      <span class="button" id="loop-button">Loop</span>
    </div>
    {% include "components/visualizer/visualizer-index.njk" %}
  </div>
  <div id="snow-cover">
    
  </div>
</div>
