<!--use this wrapper to keep everything within page!-->
<div id='page-home' class='page hidden'>

  {% include "components/board-interactive/board-interactive-index.njk" %}
  {% include "components/audio-visualizer/audio-visualizer-index.njk" %}

</div>
