// for navigator
.hidden {
  display: none !important;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
}

.button{
  background-color: $color-white;
  color: $color-black;
  padding: .5em;
  border: 5px solid $color-black;
  font-family: sans-serif;
  font-size: 3em;
  margin: 1em;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
